@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Allerta&family=Roboto+Slab:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  height: 100%;
  max-width: 100vw;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: #ffefdf;
  font-family: "Allerta", "serif";
  font-size: 1.1rem;
  word-spacing: normal;
  line-height: normal;
  letter-spacing: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Slab", serif; /* All headings should use this font */
}
h1 {
  margin: 0;
  font-size: 2rem;
}

p {
  font-size: 1.1rem;
}

section {
  filter: drop-shadow(2px 4px 2px rgba(0, 0, 0, 0.3));
}

#navbar a,
#cafe-grid a {
  color: black;
}

#header-nav {
  position: relative;
  background-color: rgb(173, 140, 103);
  width: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  text-indent: 0;
}

#navbar {
  position: relative;
  padding: 0 25px;
  margin: 0 auto;
  max-width: 1120px;
  height: 100px;
  background-color: rgb(173, 140, 103);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#burger-button {
  display: none;
  position: absolute;
  left: 25px;
  height: fit-content;
  width: fit-content;
  padding: 0;
}

#navbar img {
  height: 90px;
  object-fit: contain;
}

#nav-button-list {
  display: flex;
  gap: clamp(0px, 1vw, 33px);
  list-style-type: none;
}

#nav-button-list li,
#nav-side-button-list li {
  padding: 0.6rem 0.5rem;
  text-align: center;
  font-weight: bold;
  align-content: center;
  background-color: #aac3cb;
  border-radius: 20px;
  font-family: "Roboto Slab", serif;
  font-size: 1.2rem;
  filter: drop-shadow(2px 4px 2px rgba(0, 0, 0, 0.3));
}

#nav-button-list li:hover,
#nav-side-button-list li:hover {
  background-color: #91a7ae;
}

#nav-button-list a,
#nav-side-button-list a {
  text-decoration: none;
}

#nav-sidebar {
  display: none;
  position: absolute;
  width: 100vw;
  height: calc(100vh - 100px);
  top: 100px;
  left: 0;
  z-index: 5;
  background-color: rgb(173, 140, 103);
}

#nav-side-button-list {
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  list-style-type: none;
}

#nav-side-button-list .nav-button {
  width: 200px;
}

#header-banner {
  position: relative;
  margin: 0;
  padding: 0;
}

#header-banner img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

#header-banner figcaption {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
}

#header-banner figcaption h1 {
  padding: clamp(5px, 2vw, 40px);
  text-transform: uppercase;
  border-radius: 20px;
  transform-origin: center;
  text-align: center;
  background-color: rgba(173, 140, 103, 0.9);
  font-family: "Roboto Slab", serif;
  font-size: 2.5rem;
  filter: drop-shadow(2px 4px 2px rgba(0, 0, 0, 0.3));
}

main {
  padding: 25px;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1120px;
  min-height: 50vh;
  height: 100%;
  gap: 25px;
}

#hero {
  width: 100%;
  min-height: 50vh;
  background-image: url("../img/Temp-banner.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
}

#header-logo {
  height: 150px;
  filter: drop-shadow(2px 4px 2px rgba(0, 0, 0, 0.6));
}

#hero figure {
  padding: 20px 0;
  position: relative;
  max-width: 1120px;
  width: 100%;
  height: 100%;
}

#hero figcaption {
  background-color: rgba(173, 140, 103, 80%);
  filter: drop-shadow(2px 4px 2px rgba(0, 0, 0, 0.6));
  border-radius: 20px;
  padding: 20px 50px;
  width: 100%;
}

#hero figcaption p {
  font-size: 1.2rem;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.3));
  height: fit-content;
}

#cafe-grid {
  max-width: 1120px;
  width: 100%;
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: auto auto auto auto;
  grid-column-gap: 2rem;
}

#cafe-grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cafe-box {
  position: relative;
  aspect-ratio: 1 / 1;
  border-radius: 20px;
  overflow: hidden;
}

.cafe-box:hover {
  transform: scale(1.1);
}

.cafe-box:hover figcaption {
  animation: slide 0.5s ease-out;
  animation-fill-mode: forwards;
}

.cafe-box figcaption {
  background-color: rgba(170, 195, 203, 0.7);
  position: absolute;
  top: 75%;
  padding: 2%;
  width: 100%;
  height: 100%;
  animation: slide-back 0.5s ease-in;
  text-align: center;
}

.cafe-box figcaption p {
  font-size: clamp(0.9rem, 2vw, 1.4rem);
}
.cafe-box figcaption h1 {
  height: 25%;
  font-size: clamp(1.5rem, 3vw, 2rem);
}

.cafe-box-header {
  padding: 0;
  margin: 0;
}

@keyframes slide {
  from {
    top: 75%;
  }
  to {
    top: 0;
  }
}

@keyframes slide-back {
  from {
    top: 0;
  }
  to {
    top: 75%;
  }
}

#call-to-contact {
  width: 100%;
  background-color: rgb(173, 140, 103);
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 5% 10%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#cafes-page {
  max-width: 1120px;
  width: 100%;
  display: grid;
  grid-template-columns: auto;
  gap: 50px;
}

#cafes-page article {
  max-width: 1120px;
  width: 100%;
  display: grid;
  grid-template-columns:
    calc(25% - 24.75px) calc(25% - 24.75px) calc(25% - 24.75px)
    calc(25% - 24.75px);
  column-gap: 33px;
  row-gap: 10px;
}

.secondary-img {
  border-radius: 20px;
  object-fit: cover;
  width: 100%;
  aspect-ratio: 5 / 4;
}

.main-img-figure {
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  padding: 0;
  margin: 0;
  grid-column: 1 / 3;
  grid-row: 1 / 3;
  width: 100%;
  aspect-ratio: 17 / 11;
}

.main-img-figure > figcaption {
  position: absolute;
  bottom: 0;
  padding: 10px;
  background-color: rgba(170, 195, 203, 0.7);
  width: 100%;
}

.main-img {
  margin: 0;
  width: 100%;
  aspect-ratio: 17 / 11;
}

.cafe-contact-info {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  word-break: break-all;
}

.cafe-opening-closing-info {
  text-align: left;
  list-style-type: none;
  grid-column: 4 / 5;
  grid-row: 2 / 3;
  font-size: 1rem;
  border-width: 1px;
  border-color: black;
  border-style: solid;
}

.cafe-1-img .cafe-contact-info {
  grid-row: auto;
}

.cafe-1-img .cafe-opening-closing-info {
  height: min-content;
  grid-row: auto;
}

.cafe-opening-closing-info td {
  width: 70%;
}

.cafe-opening-closing-info tr:nth-child(even) {
  background-color: #fff;
}

.cafe-opening-closing-info tr:nth-child(odd) {
  background-color: #cff;
}

.cafe-paragraph {
  grid-column: span 2;
}

.cafe-1-img .cafe-paragraph {
  grid-column: 3 / span 2;
}

button,
.button {
  background-color: #977958;
  filter: drop-shadow(2px 4px 2px rgba(0, 0, 0, 0.3));
  border-radius: 20px;
  padding: 0 10px;
  border: 0;
  height: 32px;
  font-family: "Roboto Slab", "Serif";
  font-size: 1.2rem;
  width: max-content;
  color: black;
  text-decoration: none;
}

button:hover,
.button:hover {
  background-color: #c09970;
  cursor: pointer;
}

#contact-page form {
  width: 70%;
  float: left;
  background-color: rgb(173, 140, 103);
  padding: 5%;
  border-radius: 20px;
}

#contact-page form h1,
#contact-page form .message {
  grid-column: span 2;
}

#contact-page form legend {
  font-family: "Roboto Slab", serif;
  font-size: 1.5rem;
}

#contact-page form legend::first-letter {
  font-size: 2rem;
  font-weight: bold;
}

#contact-page fieldset {
  border: none;
}

#contact-page em {
  color: #aac3cb;
}

#contact-page form .main-label {
  display: flex;
  flex-direction: column;
}

.text-field {
  background-color: #caaa85;
  border-radius: 5px;
  border: none;
  padding: 1.5%;
  font-size: 1.1rem;
}

aside {
  width: 29%;
  float: right;
}

footer {
  min-height: 230px;
  position: relative;
  bottom: 0;
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(173, 140, 103);
  width: 100vw;
  padding-top: 30px;
}

footer a {
  color: black;
  text-decoration: none;
}

footer a:active {
  color: #91a7ae;
}

footer a:hover {
  color: #aac3cb;
}

footer #social-media-list {
  list-style-type: none;
}

#cookie-popup {
  display: none;
  position: fixed;
  bottom: 0;
  z-index: 9999;
  width: 100%;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 50px;
  background-color: #91a7ae;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 1.5rem;
  }

  #nav-button-list {
    display: none;
  }

  #burger-button {
    display: block;
  }

  #navbar {
    justify-content: center;
  }

  #hero {
    padding: 0;
  }

  main {
    padding: 0 10px;
  }

  #cafe-grid {
    grid-template-columns: calc(50% - 2rem) calc(50% - 2rem);
    grid-gap: 2rem;
  }

  .cafe-box:hover figcaption {
    animation: none;
  }
  .cafe-box figcaption {
    animation: none;
  }

  .cafe-box figcaption h1 {
    font-size: 1.5rem;
  }

  .cafe-box figcaption p {
    display: none;
  }

  .text-field {
    font-size: 1rem;
  }

  #contact-page form,
  #contact-page aside {
    float: none;
    width: 100%;
  }

  footer {
    flex-direction: column;
    align-items: center;
    height: 450px;
  }

  #header-banner figcaption h1 {
    font-size: 2rem;
  }

  #cafes-page article {
    grid-template-columns: calc(50% - 10px) calc(50% - 10px);
    gap: 20px;
  }

  .main-img-figure {
    grid-column: span 2;
    grid-row: span 2;
  }

  .cafe-contact-info {
    padding: 0;
    font-size: 0.8rem;
    grid-column: 1 / 2;
    grid-row: span 1;
  }

  .cafe-opening-closing-info {
    font-size: 0.8rem;
    grid-column: 2 / 3;
    grid-row: span 1;
  }

  .cafe-1-img .cafe-paragraph {
    grid-column: 1 / span 2;
  }
}
